.draggables {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: orangered;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

}

.draggables button {
  margin: 5px;
  border-radius: 15px;
}